%div{:id => "main"}
	%ul{:class => "nav nav-tabs", :id => "exptab"}
		%li{:class => "active"}
			%a{:href => "#exp", :'data-toggle' => "tab"}実験について
		%li
			%a{:href => "#flow", :'data-toggle' => "tab"}実験の流れ	
		%li
			%a{:href => "#sys", :'data-toggle' => "tab"}システムについて			
	%div{:class => "tab-content"}
		%div{:class => "tab-pane active", :id => "exp"}
			%h3 この実験について
			%p 本研究及び実験の内容は以下の通りです。<br />下記の内容に同意して頂ける場合のみ、システムへログインして下さい。
			%hr
			%div{:id => "title"}
				%h5 研究タイトル
				%p 過去に蓄積された情報を呼び起こすシステムに関する研究	
			%div{:id => "purpose"}
				%h5 目的と手法
				%p 本実験は、振り返りを支援する目的で開発したシステムが人間の意識にどの程度作用するか明らかにすることを目的としています。<br />実験では、システムを利用すると共にアンケートへ回答して頂きます。
			%div{:id => "place"}
				%h5 実施場所
				%p インターネットが使用出来る環境であればどこでも可能です
			%div{:id => "function", :class => "function"}
				%h5 注意事項とお願い
				%p 分析の過程で、個人が各サービスを通して蓄積したデータ（つぶやき、写真、ブックマーク）にアクセスする場合があります。<br />分析から除外してほしいデータがある場合は、削除ボタンを利用しサーバからデータを消去してください。<br />*詳細な手順は、「システムの使い方」をご覧ください。
			%div{:id => "indivi"}
				%h5 個人情報保護
				%p 収集したデータは研究以外の目的では使用せず、データの流出が無いよう厳重に管理します。<br />収集した個人情報は個人の特定ができないようIDで管理します。
			%div{:id => "right"}
				%h5 実験協力者の権利
				%p 実験協力に同意した場合でも、個人の都合により随時これを撤回できます。<br />その際、記録したデータは全て破棄します。
			%div{:id => "contact"}
				%h5 実験担当者及び連絡先
				%p 	米島まどか<br />筑波大学大学院図書館情報メディア博士前期課程2年次<br />mail:　yonejima[atmark]slis.tsukuba.ac.jp	
		%div{:class => "tab-pane", :id => "flow"}
			%h3 実験の流れ
			%p 本実験では、システムを利用すると共にアンケートへ回答して頂きます。実験の流れは以下に示す通りです。
			%img{:src => "/img/flow.png", :class => "imgflow"}
			%div{:id => "step0"}
				%h5 STEP0 Flickrへ写真を登録・ブックマークのエクスポート
				%p システムを使うための準備として、写真をFlickrへ登録して頂きます。また、ブックマークをエクスポートして頂きます。<br />詳細は「システムの使い方」をご覧ください。
			%div{:id => "step1"}
				%h5 STEP1 ユーザ登録
				%p システムを利用するためのアカウントを作成して頂きます。 
				%p システムを使うための準備として、ユーザ登録とデータ登録を行って下さい。<br />システムへのデータ登録の詳細については、「システムの使い方」をご覧ください。
			%div{:id => "step2"}
				%h5 STEP2 事前アンケート
				%p 登録が完了すると、事前アンケートへのリンクが現れます。アンケートへ回答しなければ、次のステップへは進むことができません。
			%div{:id => "step3"}
				%h5 STEP3 システムへのデータ登録
				%p Twitter,Flickrと認証を行って頂きます。<br />詳細は「システムの使い方」をご覧ください。
			%div{:id => "real"}
				%h5 STEP4 データの閲覧
				%p 使用タイミング等の指示は特に行いません。自由に使用して下さい。<br />発見ボタン・コメント・削除ボタンの使い方については、「システムの使い方」をご覧ください。
			%div{:id => "a_que"}
				%h5 STEP5 事後アンケート
				%p 利用期間終了後、事後アンケートページへのリンクをお知らせします。このアンケートへの回答をもって、実験終了となります。
			%hr			
			%div{:id => "reje"}			
				%h5 実験をやめる場合
				%p 必ず実験者に連絡して下さい。<br />全データを削除する手順をお知らせします。
		%div{:class => "tab-pane", :id => "sys"}
			%h3 このシステムについて
			%p このシステムは、以下に挙げる情報を収集し提示するものです。
			%p ＜収集する情報＞
			%ul
				%li Twitterに投稿したつぶやき
				%li Twitterでお気に入りに登録したつぶやき
				%li Flickrに投稿した写真
				%li ブラウザに登録したブックマーク
			%p ここでは下に示す実験手順のうち、STEP0・1・3・4について説明します。
			%img{:src => "/img/flow.png", :class => "imgflow"}
			%div{:id => "regist_f"}
				%h5 STEP0 Flickrへ写真を登録
				%p まず、Flickr上でアカウントを作成してください。＊Yahoo(USA),Facebook,Googleいずれかのアカウントが必要です。
				%p PC内に写真データがある場合、<a href="http://www.flickr.com/photos/upload/" target="_blank">こちら</a>よりアップロードしてください。
				%p スマートフォン内に写真データがある場合は、アプリから写真をアップロードできます。
				%p アップロードした写真は公開範囲を指定できます。本システムでは認証を行うため、privateな写真も収集可能となっています。
			%div{:id => "export_b"}
				%h5 STEP0 ブックマークのエクスポート
				%p 自身が利用しているブラウザから、ブックマークをHTMLファイルとしてエクスポートしてください。<br />＊詳細な手順は<a href= "http://memorva.jp/internet/pc/bookmark_favorite.php" target="_blank">こちら</a>をご覧ください。
				%p ソーシャルブックマークを利用している場合、エクスポート可能なサービスがあります。HTML形式（ブラウザへのインポート用）のものをご利用ください。
			%div{:id => "oauth_tf"}
				%h5 STEP3 システムへのデータ登録（Twitter・Flickrの場合）
				%p Twitter及びFlickr上にあるデータを利用するためには、アプリケーションへの認証が必要です。
				%ol
					%li 設定ページ（SETTINGS）より、認証するボタンを押して下さい。
					%li 認証するボタンを押すと、アプリケーションのページへ遷移します。
					%li 認証が終わると同時にシステムがデータを収集します。
				%p ＊ログイン操作を行うたびにデータの追加収集を行います。（認証は不要です）<br />＊Twitterでは、自身のつぶやきは最新200・お気に入りは最新100のみ収集されます。	
			%div{:id => "regist_b"}
				%h5 STEP3 システムへのデータ登録（ブックマークの場合）
				%ol
					%li ファイルを選択するボタンを押して、STEP0でエクスポートしたファイルを選択して下さい。
				%p ＊ブックマークについては、データの更新は行いません。
			%div{:id => "view"}
				%h5 STEP4 データの閲覧
				%p データの閲覧はMAINページで行うことができます。下の画像はその見本です。
				%ul
					%li 自動更新
					%p 画面に表示される情報は1分毎に更新されます。自動更新を止めたい場合は、メニューバーにあるチェックを外して下さい。
					%li 各データの削除
					%p 実験者に見られたくない情報がある場合、削除ボタンを押すことでデータをサーバ上から消去できます。
					%li 発見ボタンとコメント
					%p{:class => "red"} 情報を閲覧して「それまで気付かなかったそのもののよさをあらためて認識した」場合、発見ボタンを押して下さい。<br />可能ならば、その時感じたことなどをコメント欄に投稿して下さい。