%div{:id => @content[:id], :class =>"pin hatena"}
	=haml :ref_and_remove
	%a{:href => @content[:bb_url], :target => "_blank"}= @content[:bb_title]
	%div{:class => "description"}= @content[:bb_description]
	%span{:class => "time"}= @content[:bb_issued]
	= haml :tag