%div{:id => "main"}
	%div{:class => "alert alert-error"}
		%div= @msg
	%form{:action => "/register", :method => "POST", :class => "userform"}
		%input{:type => "text", :name =>"name", :placeholder => "UserName"}
		%input{:type => "text", :name =>"mail", :placeholder => "Email Address"}
		%input{:type => "password", :name =>"password", :placeholder => "Password"}
		%input{:type => "password", :name =>"re_password", :placeholder => "Confirm Password"}
		%button{:type => "submit", :value => "Create your accout!",  :class => "pure-button"}Register!