%div{:id => @content[:id], :class =>"pin hatena"}
	=haml :individual_form
	=haml :ref_and_remove
	%a{:href => @content[:hatena_url], :target => "_blank"}= @content[:hatena_title]
	%br
	%span{:class => "time"}= @content[:hatena_issued]
	%span{:class => "submit_individual"}= "詳細を見る"
	= haml :tag