%div{:id => @content[:id], :class =>"pin instagram"}
	=haml :individual_form
	=haml :ref_and_remove
	%img{:src => @content[:instagram_img_url], :id => "instagram_img"}
	%p= @content[:instagram_text]
	%span{:class => "time"}= @content[:instagram_time]
	%span{:class => "submit_individual"}= "詳細を見る"
	= haml :tag