%div{:id => "login"}
	%form{:action => "/login", :method => "POST", :class => "userform"}
		%input{:type => "text", :name =>"name", :placeholder => "UserName"}
		%input{:type => "password", :name =>"password", :placeholder => "Password"}
		%button{:type => "submit", :value => "Login!", :class => "pure-button"}Login!
	