%div{:id => "wrapper"}
	%form{:action => "/login", :method => "POST"}
		%fieldset
			%label Name
			%input{:type => "text", :name =>"name"}
		%fieldset
			%label Password
			%input{:type => "password", :name =>"password"}
		%input{:type => "submit", :value => "Login", :class => "btn"}
	