%a{:href => "#nav", :class => "nav-menu-button"}Menu
%div{:class => "nav-inner"}
	%div{:class => "pure-menu pure-menu-open"}
		%ul
			-@menu.each do |elem|
				%li{:class => elem[1]}
					%a{:href => "/" + elem[0]}= elem[0]