%fieldset{:class => "ui-grid-a menu"}
	%div{:class => "ui-block-a"}
		%button{:'data-theme' => "c", :id => "menu"}MENU▼
%fieldset{:class => "ui-grid-a toggle_menu", :id => "toggle_menu"}		
	-@menu.each do |elem|
		%div{:class => "ui-block-a"}
			%a{:href => "/" + elem[0]}
				%button{:'data-theme' => elem[1]}= elem[0]
	-if @main
		%input{:type => "checkbox", :name => "checkbox-a", :'data-theme' => "c", :id => "checkbox-a", :checked => "checked"}
		%label{:for => "checkbox-a"}自動更新