%fieldset{:class => "ui-grid-a"}
	%div{:class => "ui-block-a"}
		%button{:'data-theme' => "c", :id => "about_open"}ABOUT				
		%div{:class => "modal hide fade",:id => "modal_about", :tabindex => "-1", :role => "dialog", :'aria-labelledby' => "ModalLabel", :'aria-hidden' => "true"}
			%div{:class => "modal-header"}
				%button{:type =>"button", :class =>"close", :'data-dismiss' => "modal", :'aria-hidden' => "true"}x
				%h3{:id => "ModalLabel"}= "ABOUT"
			%div{:class => "modal-body"}
				%div= "this is test"
			%div{:class => "modal-footer"}
				%button{:class =>"btn", :'data-dismiss' => "modal", :'aria-hidden' => "true"}Close
	-@menu.each do |elem|
		%div{:class => "ui-block-a"}
			%a{:href => "/" + elem[0]}
				%button{:'data-theme' => elem[1]}= elem[0]
	-if @main
		%input{:type => "checkbox", :name => "checkbox-a", :'data-theme' => "c", :id => "checkbox-a", :checked => "checked"}
		%label{:for => "checkbox-a"}自動更新