%div{:class => "reflection"}
	%form{:class => "ref_form", :'data-ajax' => "false"}
		%input{:type => "hidden", :name => "data_id", :value => @content[:id]}
		%input{:type => "hidden", :id => "ref_val_"+@content[:id], :name => "ref_count", :value => @content[:ref_count]}
		%button{:type => "submit", :'data-role' => "button", :'data-icon' => "flat-heart", :'data-iconpos' => "notext", :'data-theme' => "e", :'data-inline' => "true"}気に入った？