%div{:id => "main"}
	%form{:action => "/register", :method => "POST", :class => "userform"}
		%input{:type => "text", :name =>"name", :placeholder => "UserName", :class => "span3"}
		%input{:type => "text", :name =>"mail", :placeholder => "Email Address", :class => "span3"}
		%input{:type => "password", :name =>"password", :placeholder => "Password",:class => "span3"}
		%input{:type => "password", :name =>"re_password", :placeholder => "Confirm Password", :class => "span3"}
		%input{:type => "submit", :value => "Create your accout!", :class => "ui-btn ui-shadow ui-btn-up-f ui-shadow ui-btn-corner-all ui-register"}