%div{:class => "remove"}
	%form{:class => "remove", :'data-ajax' => "false"}
		%input{:type => "hidden", :name => "data_id", :value => @content[:id]}
		%input{:type => "hidden", :name => "app", :value => @content[:app]}
		%button{:type => "submit", :class => "cancel"}
			%i{:class => "icon-cancel", :id => "cancel_" + @content[:id] }