%div{:id => "comments_"+ @content[:id],:class => "tags clear"}
	%hr
	%div{:class => "comment_total", :id => "comment_total_"+ @content[:id]}= @content[:comment].length.to_s + " Comments"
	-@content[:comment].each do |elem|
		%div{:class => "comment"}
			%div{:class => "comment_text"}= elem[:comment]
			%div{:class => "comment_time"}= elem[:time]
%div{:class => "comment_form", :id => "comment_form_"+ @content[:id]}
	%form{:class => "comment_form",  :'data-ajax' => "false"}
		%input{:type => "text", :name => "comment", :placeholder => "コメントはこちらに入力してください"}
		%input{:type => "hidden", :name => "data_id", :value => @content[:id]}
		%button{:type => "submit", :value => "Save", :'data-theme' => "c"}