%div{:id => "tags_" + @content[:id], :class => "tags clear"}
	%div{:class => "view"}
		%div{:id => "tags_view_" + @content[:id]}= @content[:tag_a_concat]
		%span{:id => @content[:app] + "_edit_open", :class => "edit_toggle"}
			%i{:class => "icon-edit"}
	%div{:class => "edit", :id => @content[:app] + "_edit"}
		%span Tag Edit 
		%span{:class => "edit-confirm"} *タグはカンマ（,）で区切ってください
		%form{:class => "edit_form",  :'data-ajax' => "false"}
			%input{:type => "text", :name => "tag_edit", :value => @content[:tag_concat]}
			%input{:type => "hidden", :name => "data_id", :value => @content[:id]}
			%button{:type => "submit", :value => "Save", :'data-theme' => "c"}
			%button{:value => "Cancel", :'data-theme' => "c",:id => @content[:app] + "_edit_close", :class => "edit_toggle"}