!!! XML
!!!
%html
	%head
		%title= @title
		%meta{:"http-equiv"=>"Content-Type", :content=>"text/html", :charset=>"utf-8"}
		%link{:rel=>"shortcut icon", :type=>"image/vnd.microsoft.icon", :href=>"/img/favicon.ico"} 
		%link{:rel=>"stylesheet", :type=>"text/css", :href=>"/css/bootstrap.css"}
		%link{:rel=>"stylesheet", :type=>"text/css", :href=>"/css/ques.css"}   
		%script{:type => 'text/javascript', :src => "/js/jquery-1.8.3.min.js"}
		%script{:type => 'text/javascript', :src => "/js/ques.js"}
	%body
		%div{:id => "main"}
			%form{:id => "b_ques", :action => "/b_ques_end", :method => "POST", :class => "userform", :'data-ajax' => "false"}
				%fieldset
					%legend 事前アンケート
					%input{:type => "hidden", :name =>"uid", :id => "uid", :value => @uid}
					%input{:type => "hidden", :name =>"twitter_use", :id => "twitter_use", :value => @twitter_use}
					%input{:type => "hidden", :name =>"flickr_use", :id => "flickr_use", :value => @flickr_use}
					%input{:type => "hidden", :name =>"bkm_use", :id => "bkm_use", :value => @bkm_use}
					%div{:id => "usingTime"}
						%label Q1. あなたは平均して一日あたりどのくらいWebを利用していますか。
						%table
							%tr
								%td
									%label{:class => "radio"}
										%input{:type => "radio", :name => "usingTime", :value => "5hover"}5時間以上
								%td
									%label{:class => "radio"}
										%input{:type => "radio", :name => "usingTime", :value => "4h"}4-5時間
								%td
									%label{:class => "radio"}	
										%input{:type => "radio", :name => "usingTime", :value => "3h"}3-4時間
								%td
									%label{:class => "radio"}	
										%input{:type => "radio", :name => "usingTime", :value => "2h"}2-3時間
								%td
									%label{:class => "radio"}	
										%input{:type => "radio", :name => "usingTime", :value => "1h"}1-2時間
								%td
									%label{:class => "radio"}	
										%input{:type => "radio", :name => "usingTime", :value => "1hmin"}1時間未満
					%div{:id => "useBrowser"}
						%label Q2. あなたが普段最もよく利用しているブラウザは以下のどれですか。
						%label{:class => "radio"}
							%input{:type => "radio", :name => "useBrowser", :value => "ie"}Internet Explorer
						%label{:class => "radio"}
							%input{:type => "radio", :name => "useBrowser", :value => "ff"}Mozilla Firefox
						%label{:class => "radio"}	
							%input{:type => "radio", :name => "useBrowser", :value => "gc"}Google Chrome
						%label{:class => "radio"}	
							%input{:type => "radio", :name => "useBrowser", :value => "sa"}Safari
						%label{:class => "radio"}	
							%input{:type => "radio", :name => "useBrowser", :value => "op"}Opera
						%label{:class => "radio"}	
							%input{:type => "radio", :name => "useBrowser", :value => "ot"}その他
					%div{:id => "device"}
						%label Q3. あなたは以下のサービスをどの端末から最もよく利用していますか。
						%table{:border => "1"}
							%tr
								%th
								%th PC
								%th タブレット端末
								%th スマートフォン
								%th フィーチャーフォン
							-if @twitter_use == "0"
								%tr{:class => "gray"}
									%td Twitter
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "device[t]", :value => "pc"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "device[t]", :value => "tub"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "device[t]", :value => "smp"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "device[t]", :value => "fup"}
							-if @flickr_use == "0"
								%tr
									%td Flickr（登録）
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "device[fr]", :value => "pc"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "device[fr]", :value => "tub"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "device[fr]", :value => "smp"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "device[fr]", :value => "fup"}
								%tr{:class => "gray"}
									%td Flickr（閲覧）
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "device[fs]", :value => "pc"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "device[fs]", :value => "tub"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "device[fs]", :value => "smp"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "device[fs]", :value => "fup"}
							-if @bkm_use == "0"
								%tr
									%td ブックマーク（登録）
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "device[br]", :value => "pc"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "device[br]", :value => "tub"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "device[br]", :value => "smp"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "device[br]", :value => "fup"}
								%tr{:class => "gray"}
									%td ブックマーク（閲覧）
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "device[bs]", :value => "pc"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "device[bs]", :value => "tub"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "device[bs]", :value => "smp"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "device[bs]", :value => "fup"}
					%hr
					%div{:id => "rrq"}
						%label Q4. 以下の項目は、あなたにどの程度当てはまるでしょうか。最も当てはまると思う項目を1つだけ選んで下さい。
						%table{:border => "1"}
							%tr
								%th
								%th 当てはまらない
								%th あまり当てはまらない
								%th どちらともいえない
								%th やや当てはまる
								%th 当てはまる
							%tr{:class => "gray"}
								%td 物事の本質や意味について深く考えることがとても好きだ
								%td
									%label{:class => "radio"}
										%input{:type => "radio", :name => "rrq[1]", :value => "0"}
								%td
									%label{:class => "radio"}
										%input{:type => "radio", :name => "rrq[1]", :value => "1"}
								%td
									%label{:class => "radio"}	
										%input{:type => "radio", :name => "rrq[1]", :value => "2"}
								%td
									%label{:class => "radio"}	
										%input{:type => "radio", :name => "rrq[1]", :value => "3"}
								%td
									%label{:class => "radio"}	
										%input{:type => "radio", :name => "rrq[1]", :value => "4"}
							%tr
								%td 自分自身についてじっくり考えることは、楽しいとは思わない
								%td
									%label{:class => "radio"}
										%input{:type => "radio", :name => "rrq[2]", :value => "0"}
								%td
									%label{:class => "radio"}
										%input{:type => "radio", :name => "rrq[2]", :value => "1"}
								%td
									%label{:class => "radio"}	
										%input{:type => "radio", :name => "rrq[2]", :value => "2"}
								%td
									%label{:class => "radio"}	
										%input{:type => "radio", :name => "rrq[2]", :value => "3"}
								%td
									%label{:class => "radio"}	
										%input{:type => "radio", :name => "rrq[2]", :value => "4"}
							%tr{:class => "gray"}
								%td もともと自己をとても探求したいと思っている
								%td
									%label{:class => "radio"}
										%input{:type => "radio", :name => "rrq[3]", :value => "0"}
								%td
									%label{:class => "radio"}
										%input{:type => "radio", :name => "rrq[3]", :value => "1"}
								%td
									%label{:class => "radio"}	
										%input{:type => "radio", :name => "rrq[3]", :value => "2"}
								%td
									%label{:class => "radio"}	
										%input{:type => "radio", :name => "rrq[3]", :value => "3"}
								%td
									%label{:class => "radio"}	
										%input{:type => "radio", :name => "rrq[3]", :value => "4"}	
							%tr
								%td 自分の人生を哲学的に見ることがとても好きだとしばしば思う
								%td
									%label{:class => "radio"}
										%input{:type => "radio", :name => "rrq[4]", :value => "0"}
								%td
									%label{:class => "radio"}
										%input{:type => "radio", :name => "rrq[4]", :value => "1"}
								%td
									%label{:class => "radio"}	
										%input{:type => "radio", :name => "rrq[4]", :value => "2"}
								%td
									%label{:class => "radio"}	
										%input{:type => "radio", :name => "rrq[4]", :value => "3"}
								%td
									%label{:class => "radio"}	
										%input{:type => "radio", :name => "rrq[4]", :value => "4"}
							%tr{:class => "gray"}
								%td 自己分析はあまり好きではない
								%td
									%label{:class => "radio"}
										%input{:type => "radio", :name => "rrq[5]", :value => "0"}
								%td
									%label{:class => "radio"}
										%input{:type => "radio", :name => "rrq[5]", :value => "1"}
								%td
									%label{:class => "radio"}	
										%input{:type => "radio", :name => "rrq[5]", :value => "2"}
								%td
									%label{:class => "radio"}	
										%input{:type => "radio", :name => "rrq[5]", :value => "3"}
								%td
									%label{:class => "radio"}	
										%input{:type => "radio", :name => "rrq[5]", :value => "4"}	
							%tr
								%td なぜそうするのかを分析するのがとても好きだ
								%td
									%label{:class => "radio"}
										%input{:type => "radio", :name => "rrq[6]", :value => "0"}
								%td
									%label{:class => "radio"}
										%input{:type => "radio", :name => "rrq[6]", :value => "1"}
								%td
									%label{:class => "radio"}	
										%input{:type => "radio", :name => "rrq[6]", :value => "2"}
								%td
									%label{:class => "radio"}	
										%input{:type => "radio", :name => "rrq[6]", :value => "3"}
								%td
									%label{:class => "radio"}	
										%input{:type => "radio", :name => "rrq[6]", :value => "4"}	
							%tr{:class => "gray"}
								%td 「内的な」自己を探るのがとても好きだ
								%td
									%label{:class => "radio"}
										%input{:type => "radio", :name => "rrq[7]", :value => "0"}
								%td
									%label{:class => "radio"}
										%input{:type => "radio", :name => "rrq[7]", :value => "1"}
								%td
									%label{:class => "radio"}	
										%input{:type => "radio", :name => "rrq[7]", :value => "2"}
								%td
									%label{:class => "radio"}	
										%input{:type => "radio", :name => "rrq[7]", :value => "3"}
								%td
									%label{:class => "radio"}	
										%input{:type => "radio", :name => "rrq[7]", :value => "4"}	
							%tr
								%td 物事に対する自分の態度や気持ちに、強い興味がある
								%td
									%label{:class => "radio"}
										%input{:type => "radio", :name => "rrq[8]", :value => "0"}
								%td
									%label{:class => "radio"}
										%input{:type => "radio", :name => "rrq[8]", :value => "1"}
								%td
									%label{:class => "radio"}	
										%input{:type => "radio", :name => "rrq[8]", :value => "2"}
								%td
									%label{:class => "radio"}	
										%input{:type => "radio", :name => "rrq[8]", :value => "3"}
								%td
									%label{:class => "radio"}	
										%input{:type => "radio", :name => "rrq[8]", :value => "4"}	
							%tr{:class => "gray"}
								%td 哲学的、抽象的な考えは、それほど私の興味を引くものではない
								%td
									%label{:class => "radio"}
										%input{:type => "radio", :name => "rrq[9]", :value => "0"}
								%td
									%label{:class => "radio"}
										%input{:type => "radio", :name => "rrq[9]", :value => "1"}
								%td
									%label{:class => "radio"}	
										%input{:type => "radio", :name => "rrq[9]", :value => "2"}
								%td
									%label{:class => "radio"}	
										%input{:type => "radio", :name => "rrq[9]", :value => "3"}
								%td
									%label{:class => "radio"}	
										%input{:type => "radio", :name => "rrq[9]", :value => "4"}	
							%tr
								%td 内省的、自省的な考え方は本当に好きではない
								%td
									%label{:class => "radio"}
										%input{:type => "radio", :name => "rrq[10]", :value => "0"}
								%td
									%label{:class => "radio"}
										%input{:type => "radio", :name => "rrq[10]", :value => "1"}
								%td
									%label{:class => "radio"}	
										%input{:type => "radio", :name => "rrq[10]", :value => "2"}
								%td
									%label{:class => "radio"}	
										%input{:type => "radio", :name => "rrq[10]", :value => "3"}
								%td
									%label{:class => "radio"}	
										%input{:type => "radio", :name => "rrq[10]", :value => "4"}									
							%tr{:class => "gray"}
								%td 私はそれほど物事を深く考えるタイプの人ではない
								%td
									%label{:class => "radio"}
										%input{:type => "radio", :name => "rrq[11]", :value => "0"}
								%td
									%label{:class => "radio"}
										%input{:type => "radio", :name => "rrq[11]", :value => "1"}
								%td
									%label{:class => "radio"}	
										%input{:type => "radio", :name => "rrq[11]", :value => "2"}
								%td
									%label{:class => "radio"}	
										%input{:type => "radio", :name => "rrq[11]", :value => "3"}
								%td
									%label{:class => "radio"}	
										%input{:type => "radio", :name => "rrq[11]", :value => "4"}	
							%tr
								%td 私は「深い」内省的なタイプの人だとよく人に言われる
								%td
									%label{:class => "radio"}
										%input{:type => "radio", :name => "rrq[12]", :value => "0"}
								%td
									%label{:class => "radio"}
										%input{:type => "radio", :name => "rrq[12]", :value => "1"}
								%td
									%label{:class => "radio"}	
										%input{:type => "radio", :name => "rrq[12]", :value => "2"}
								%td
									%label{:class => "radio"}	
										%input{:type => "radio", :name => "rrq[12]", :value => "3"}
								%td
									%label{:class => "radio"}	
										%input{:type => "radio", :name => "rrq[12]", :value => "4"}	
					%hr
					-if @twitter_use == "0"
						%div{:id => "i_act_t"}
							%p Q5-1. あなた自身の経験から考えて、以下の項目は<b>Twitter</b>の特徴としてどれくらい当てはまると思いますか？最も当てはまると思う項目を1つだけ選んで下さい。
							%table{:border => "1"}
								%tr
									%th
									%th 当てはまらない
									%th あまり当てはまらない
									%th どちらともいえない
									%th やや当てはまる
									%th 当てはまる
								%tr{:class => "gray"}
									%td いろいろな自分を演出することができる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_t[1]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_t[1]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[1]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[1]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[1]", :value => "4"}
								%tr
									%td 場面に合わせていろいろな役割を演じられる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_t[2]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_t[2]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[2]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[2]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[2]", :value => "4"}
								%tr{:class => "gray"}
									%td 自分がなりたいと思っている人物になりきることができる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_t[3]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_t[3]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[3]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[3]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[3]", :value => "4"}
								%tr
									%td 「こうありたい自分」や「なりたい自分」になることができる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_t[4]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_t[4]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[4]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[4]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[4]", :value => "4"}
								%tr{:class => "gray"}
									%td  自分の有能さを、他の人にアピールできる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_t[5]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_t[5]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[5]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[5]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[5]", :value => "4"}
								%tr
									%td ありのままの自分を表現することができる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_t[6]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_t[6]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[6]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[6]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[6]", :value => "4"}
								%tr{:class => "gray"}
									%td  自分のいろいろな面を表現することができる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_t[7]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_t[7]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[7]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[7]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[7]", :value => "4"}
								%tr
									%td  自分の感情について、素直に表現することができる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_t[8]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_t[8]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[8]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[8]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[8]", :value => "4"}
								%tr{:class => "gray"}
									%td 普段は表に出せないような自分の考えを出すことができる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_t[9]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_t[9]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[9]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[9]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[9]", :value => "4"}
								%tr
									%td  自分の個性を思い切って表現することができる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_t[10]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_t[10]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[10]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[10]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[10]", :value => "4"}
								%tr{:class => "gray"}
									%td 自分の持っている個性や長所を、人前で発揮できる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_t[11]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_t[11]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[11]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[11]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[11]", :value => "4"}
								%tr
									%td 自分自身をコントロールできるようになれる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_t[12]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_t[12]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[12]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[12]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[12]", :value => "4"}
								%tr{:class => "gray"}
									%td 自分を抑えるための方法を自然に身につけることができる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_t[13]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_t[13]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[13]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[13]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[13]", :value => "4"}
								%tr
									%td 自分について、客観的に考えたり感じたりすることができる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_t[14]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_t[14]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[14]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[14]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[14]", :value => "4"}
								%tr{:class => "gray"}
									%td 自分自身について振り返るきっかけになる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_t[15]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_t[15]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[15]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[15]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[15]", :value => "4"}
								%tr
									%td  自分が何をしたいのかや、どんな目標に向かっているかを、はっきり意識できる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_t[16]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_t[16]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[16]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[16]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_t[16]", :value => "4"}
					-if @flickr_use == "0"
						%div{:id => "i_act_f"}
							%p Q5-2. あなた自身の経験から考えて、以下の項目は<b>Flickr</b>の特徴としてどれくらい当てはまると思いますか？最も当てはまると思う項目を1つだけ選んで下さい。
							%table{:border => "1"}
								%tr
									%th
									%th 当てはまらない
									%th あまり当てはまらない
									%th どちらともいえない
									%th やや当てはまる
									%th 当てはまる
								%tr{:class => "gray"}
									%td いろいろな自分を演出することができる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_f[1]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_f[1]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[1]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[1]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[1]", :value => "4"}
								%tr
									%td 場面に合わせていろいろな役割を演じられる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_f[2]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_f[2]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[2]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[2]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[2]", :value => "4"}
								%tr{:class => "gray"}
									%td 自分がなりたいと思っている人物になりきることができる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_f[3]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_f[3]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[3]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[3]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[3]", :value => "4"}
								%tr
									%td 「こうありたい自分」や「なりたい自分」になることができる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_f[4]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_f[4]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[4]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[4]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[4]", :value => "4"}
								%tr{:class => "gray"}
									%td  自分の有能さを、他の人にアピールできる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_f[5]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_f[5]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[5]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[5]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[5]", :value => "4"}
								%tr
									%td ありのままの自分を表現することができる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_f[6]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_f[6]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[6]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[6]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[6]", :value => "4"}
								%tr{:class => "gray"}
									%td  自分のいろいろな面を表現することができる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_f[7]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_f[7]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[7]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[7]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[7]", :value => "4"}
								%tr
									%td  自分の感情について、素直に表現することができる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_f[8]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_f[8]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[8]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[8]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[8]", :value => "4"}
								%tr{:class => "gray"}
									%td 普段は表に出せないような自分の考えを出すことができる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_f[9]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_f[9]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[9]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[9]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[9]", :value => "4"}
								%tr
									%td  自分の個性を思い切って表現することができる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_f[10]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_f[10]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[10]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[10]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[10]", :value => "4"}
								%tr{:class => "gray"}
									%td 自分の持っている個性や長所を、人前で発揮できる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_f[11]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_f[11]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[11]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[11]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[11]", :value => "4"}
								%tr
									%td 自分自身をコントロールできるようになれる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_f[12]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_f[12]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[12]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[12]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[12]", :value => "4"}
								%tr{:class => "gray"}
									%td 自分を抑えるための方法を自然に身につけることができる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_f[13]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_f[13]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[13]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[13]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[13]", :value => "4"}
								%tr
									%td 自分について、客観的に考えたり感じたりすることができる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_f[14]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_f[14]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[14]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[14]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[14]", :value => "4"}
								%tr{:class => "gray"}
									%td 自分自身について振り返るきっかけになる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_f[15]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_f[15]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[15]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[15]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[15]", :value => "4"}
								%tr
									%td  自分が何をしたいのかや、どんな目標に向かっているかを、はっきり意識できる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_f[16]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_f[16]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[16]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[16]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_f[16]", :value => "4"}
					-if @bkm_use == "0"
						%div{:id => "i_act_b"}
							%p Q5-3. あなた自身の経験から考えて、以下の項目は<b>ブックマークサービス</b>の特徴としてどれくらい当てはまると思いますか？最も当てはまると思う項目を1つだけ選んで下さい。
							%table{:border => "1"}
								%tr
									%th
									%th 当てはまらない
									%th あまり当てはまらない
									%th どちらともいえない
									%th やや当てはまる
									%th 当てはまる
								%tr{:class => "gray"}
									%td いろいろな自分を演出することができる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_b[1]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_b[1]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[1]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[1]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[1]", :value => "4"}
								%tr
									%td 場面に合わせていろいろな役割を演じられる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_b[2]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_b[2]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[2]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[2]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[2]", :value => "4"}
								%tr{:class => "gray"}
									%td 自分がなりたいと思っている人物になりきることができる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_b[3]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_b[3]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[3]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[3]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[3]", :value => "4"}
								%tr
									%td 「こうありたい自分」や「なりたい自分」になることができる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_b[4]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_b[4]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[4]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[4]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[4]", :value => "4"}
								%tr{:class => "gray"}
									%td  自分の有能さを、他の人にアピールできる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_b[5]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_b[5]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[5]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[5]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[5]", :value => "4"}
								%tr
									%td ありのままの自分を表現することができる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_b[6]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_b[6]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[6]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[6]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[6]", :value => "4"}
								%tr{:class => "gray"}
									%td  自分のいろいろな面を表現することができる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_b[7]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_b[7]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[7]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[7]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[7]", :value => "4"}
								%tr
									%td  自分の感情について、素直に表現することができる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_b[8]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_b[8]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[8]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[8]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[8]", :value => "4"}
								%tr{:class => "gray"}
									%td 普段は表に出せないような自分の考えを出すことができる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_b[9]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_b[9]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[9]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[9]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[9]", :value => "4"}
								%tr
									%td  自分の個性を思い切って表現することができる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_b[10]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_b[10]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[10]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[10]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[10]", :value => "4"}
								%tr{:class => "gray"}
									%td 自分の持っている個性や長所を、人前で発揮できる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_b[11]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_b[11]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[11]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[11]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[11]", :value => "4"}
								%tr
									%td 自分自身をコントロールできるようになれる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_b[12]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_b[12]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[12]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[12]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[12]", :value => "4"}
								%tr{:class => "gray"}
									%td 自分を抑えるための方法を自然に身につけることができる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_b[13]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_b[13]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[13]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[13]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[13]", :value => "4"}
								%tr
									%td 自分について、客観的に考えたり感じたりすることができる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_b[14]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_b[14]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[14]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[14]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[14]", :value => "4"}
								%tr{:class => "gray"}
									%td 自分自身について振り返るきっかけになる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_b[15]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_b[15]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[15]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[15]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[15]", :value => "4"}
								%tr
									%td  自分が何をしたいのかや、どんな目標に向かっているかを、はっきり意識できる
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_b[16]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "iact_b[16]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[16]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[16]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "iact_b[16]", :value => "4"}	
					%hr
					-if @twitter_use == "0"
						%div{:id => "task_value_t"}
							%p Q6-1. <b>Twitterでのつぶやきやお気に入りに登録するつぶやき</b>の内容として、以下の項目はどの程度当てはまりますか。最も当てはまると思う項目を1つだけ選んで下さい。
							%table{:border => "1"}
								%tr
									%th
									%th 当てはまらない
									%th あまり当てはまらない
									%th 当てはまらない?
									%th どちらともいえない
									%th やや当てはまる
									%th 当てはまる？
									%th 当てはまる
								%tr{:class => "gray"}
									%td 面白いと感じられる内容
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_t[1]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_t[1]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[1]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[1]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[1]", :value => "4"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[1]", :value => "5"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[1]", :value => "6"}
								%tr
									%td 満足感が得られる内容
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_t[2]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_t[2]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[2]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[2]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[2]", :value => "4"}	
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[2]", :value => "5"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[2]", :value => "6"}						
								%tr{:class => "gray"}
									%td 興味を持てるような内容
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_t[3]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_t[3]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[3]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[3]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[3]", :value => "4"}	
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[3]", :value => "5"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[3]", :value => "6"}						
								%tr
									%td 好奇心が湧いてくるような内容
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_t[4]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_t[4]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[4]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[4]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[4]", :value => "4"}	
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[4]", :value => "5"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[4]", :value => "6"}
								%tr{:class => "gray"}
									%td 楽しいと感じられる内容
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_t[5]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_t[5]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[5]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[5]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[5]", :value => "4"}	
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[5]", :value => "5"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[5]", :value => "6"}						
								%tr
									%td 知的な刺激が感じられる内容
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_t[6]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_t[6]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[6]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[6]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[6]", :value => "4"}	
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[6]", :value => "5"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[6]", :value => "6"}					
								%tr{:class => "gray"}
									%td より自分らしい自分に近づくことができる内容
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_t[7]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_t[7]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[7]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[7]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[7]", :value => "4"}	
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[7]", :value => "5"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[7]", :value => "6"}							
								%tr
									%td 自分自身のことがよりよく理解できるようになる内容
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_t[8]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_t[8]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[8]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[8]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[8]", :value => "4"}	
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[8]", :value => "5"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[8]", :value => "6"}						
								%tr{:class => "gray"}
									%td 自分の個性を活かすのに役立つような内容
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_t[9]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_t[9]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[9]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[9]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[9]", :value => "4"}	
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[9]", :value => "5"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[9]", :value => "6"}						
								%tr
									%td 自分という人間に対して興味・関心を持つような内容
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_t[10]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_t[10]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[10]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[10]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[10]", :value => "4"}	
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[10]", :value => "5"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[10]", :value => "6"}					
								%tr{:class => "gray"}
									%td 人間的に成長すると思えるような内容
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_t[11]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_t[11]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[11]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[11]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[11]", :value => "4"}	
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[11]", :value => "5"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[11]", :value => "6"}					
								%tr
									%td  今まで気付かなかった自分の一面を発見できるような内容
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_t[12]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_t[12]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[12]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[12]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[12]", :value => "4"}	
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[12]", :value => "5"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_t[12]", :value => "6"}							
					-if @flickr_use == "0"
						%div{:id => "task_value_f"}
							%p Q6-2. <b>Flickrを利用して蓄積・お気に入り登録する写真</b>の内容として、以下の項目はどの程度当てはまりますか。最も当てはまると思う項目を1つだけ選んで下さい。
							%table{:border => "1"}
								%tr
									%th
									%th 当てはまらない
									%th あまり当てはまらない
									%th 当てはまらない?
									%th どちらともいえない
									%th やや当てはまる
									%th 当てはまる？
									%th 当てはまる
								%tr{:class => "gray"}
									%td 面白いと感じられる内容
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_f[1]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_f[1]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[1]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[1]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[1]", :value => "4"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[1]", :value => "5"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[1]", :value => "6"}
								%tr
									%td 満足感が得られる内容
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_f[2]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_f[2]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[2]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[2]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[2]", :value => "4"}	
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[2]", :value => "5"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[2]", :value => "6"}						
								%tr{:class => "gray"}
									%td 興味を持てるような内容
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_f[3]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_f[3]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[3]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[3]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[3]", :value => "4"}	
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[3]", :value => "5"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[3]", :value => "6"}						
								%tr
									%td 好奇心が湧いてくるような内容
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_f[4]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_f[4]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[4]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[4]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[4]", :value => "4"}	
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[4]", :value => "5"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[4]", :value => "6"}
								%tr{:class => "gray"}
									%td 楽しいと感じられる内容
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_f[5]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_f[5]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[5]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[5]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[5]", :value => "4"}	
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[5]", :value => "5"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[5]", :value => "6"}						
								%tr
									%td 知的な刺激が感じられる内容
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_f[6]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_f[6]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[6]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[6]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[6]", :value => "4"}	
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[6]", :value => "5"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[6]", :value => "6"}					
								%tr{:class => "gray"}
									%td より自分らしい自分に近づくことができる内容
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_f[7]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_f[7]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[7]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[7]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[7]", :value => "4"}	
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[7]", :value => "5"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[7]", :value => "6"}							
								%tr
									%td 自分自身のことがよりよく理解できるようになる内容
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_f[8]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_f[8]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[8]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[8]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[8]", :value => "4"}	
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[8]", :value => "5"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[8]", :value => "6"}						
								%tr{:class => "gray"}
									%td 自分の個性を活かすのに役立つような内容
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_f[9]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_f[9]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[9]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[9]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[9]", :value => "4"}	
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[9]", :value => "5"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[9]", :value => "6"}						
								%tr
									%td 自分という人間に対して興味・関心を持つような内容
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_f[10]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_f[10]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[10]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[10]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[10]", :value => "4"}	
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[10]", :value => "5"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[10]", :value => "6"}					
								%tr{:class => "gray"}
									%td 人間的に成長すると思えるような内容
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_f[11]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_f[11]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[11]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[11]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[11]", :value => "4"}	
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[11]", :value => "5"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[11]", :value => "6"}					
								%tr
									%td  今まで気付かなかった自分の一面を発見できるような内容
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_f[12]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_f[12]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[12]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[12]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[12]", :value => "4"}	
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[12]", :value => "5"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_f[12]", :value => "6"}						
					-if @bkm_use == "0"
						%div{:id => "task_value_b"}
							%p Q6-3. <b>ブックマークするWebページ</b>の内容として、以下の項目はどの程度当てはまりますか。最も当てはまると思う項目を1つだけ選んで下さい。
							%table{:border => "1"}
								%tr
									%th
									%th 当てはまらない
									%th あまり当てはまらない
									%th どちらかと言えば当てはまらない
									%th どちらとも言えない
									%th どちらかと言えば当てはまる
									%th だいぶ当てはまる
									%th 非常に当てはまる
								%tr{:class => "gray"}
									%td 面白いと感じられる内容
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_b[1]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_b[1]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[1]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[1]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[1]", :value => "4"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[1]", :value => "5"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[1]", :value => "6"}
								%tr
									%td 満足感が得られる内容
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_b[2]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_b[2]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[2]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[2]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[2]", :value => "4"}	
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[2]", :value => "5"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[2]", :value => "6"}						
								%tr{:class => "gray"}
									%td 興味を持てるような内容
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_b[3]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_b[3]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[3]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[3]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[3]", :value => "4"}	
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[3]", :value => "5"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[3]", :value => "6"}						
								%tr
									%td 好奇心が湧いてくるような内容
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_b[4]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_b[4]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[4]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[4]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[4]", :value => "4"}	
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[4]", :value => "5"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[4]", :value => "6"}
								%tr{:class => "gray"}
									%td 楽しいと感じられる内容
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_b[5]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_b[5]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[5]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[5]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[5]", :value => "4"}	
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[5]", :value => "5"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[5]", :value => "6"}						
								%tr
									%td 知的な刺激が感じられる内容
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_b[6]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_b[6]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[6]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[6]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[6]", :value => "4"}	
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[6]", :value => "5"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[6]", :value => "6"}					
								%tr{:class => "gray"}
									%td より自分らしい自分に近づくことができる内容
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_b[7]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_b[7]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[7]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[7]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[7]", :value => "4"}	
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[7]", :value => "5"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[7]", :value => "6"}							
								%tr
									%td 自分自身のことがよりよく理解できるようになる内容
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_b[8]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_b[8]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[8]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[8]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[8]", :value => "4"}	
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[8]", :value => "5"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[8]", :value => "6"}						
								%tr{:class => "gray"}
									%td 自分の個性を活かすのに役立つような内容
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_b[9]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_b[9]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[9]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[9]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[9]", :value => "4"}	
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[9]", :value => "5"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[9]", :value => "6"}						
								%tr
									%td 自分という人間に対して興味・関心を持つような内容
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_b[10]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_b[10]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[10]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[10]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[10]", :value => "4"}	
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[10]", :value => "5"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[10]", :value => "6"}					
								%tr{:class => "gray"}
									%td 人間的に成長すると思えるような内容
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_b[11]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_b[11]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[11]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[11]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[11]", :value => "4"}	
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[11]", :value => "5"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[11]", :value => "6"}					
								%tr
									%td  今まで気付かなかった自分の一面を発見できるような内容
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_b[12]", :value => "0"}
									%td
										%label{:class => "radio"}
											%input{:type => "radio", :name => "tv_b[12]", :value => "1"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[12]", :value => "2"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[12]", :value => "3"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[12]", :value => "4"}	
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[12]", :value => "5"}
									%td
										%label{:class => "radio"}	
											%input{:type => "radio", :name => "tv_b[12]", :value => "6"}						
					%hr
					%p アンケートは以上で終了です。最後に送信ボタンを1回だけ押して下さい。
					%button{:type => "submit", :class => "btn"} 送信する															
		%script{:type => "text/javascript", :src =>"/js/bootstrap/bootstrap-tab.js"}
		%script{:type => "text/javascript", :src =>"/js/bootstrap/bootstrap-alert.js"}
		%script{:type => "text/javascript", :src =>"/js/bootstrap/bootstrap-modal.js"}