%div{:id => @content[:id], :class =>"pin instagram"}
	=haml :ref_and_remove
	%img{:src => @content[:instagram_img_url], :id => "instagram_img"}
	%p= @content[:instagram_text]
	%span{:class => "time"}= @content[:instagram_time]
	%a{:href => @content[:url], :target => "_blank", :class => "detail"}= "詳細を見る"
	= haml :tag