%div{:id => @content[:id], :class =>"pin rss"}
	=haml :ref_and_remove
	%a{:href => @content[:rss_url], :target => "_blank"}= @content[:rss_title]
	%p= @content[:rss_description]
	%span{:class => "time"}= @content[:rss_date]
	= haml :tag